@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    
    <hr />
    <h3>Estado de conexión a la base de datos:</h3>
    <p>@ViewBag.DbStatus</p>
</div>